#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(black.jpg) no-repeat;
    background-size: cover;
    
}
ul{
    width: 100%;
    background-color:rgba(255,255,255,0.7);
    z-index:1000;
    position:fixed;
    top:0px;
    left:0px;
    margin:0;   

}
li{
    display:inline-block;
    padding:15px;
    margin-left:60px;
}
li:hover{
    color:red;
    font-weight:200;
}
.left-top-circle{
    width:150px;
    height:150px;
    border-radius:50%;
    background-color:red;
    position:fixed;
    z-index:1000;
    top:-75px;
    left:-75px;
    transition:1s ease-in-out;
}
.right-top-circle{
    width:150px;
    height:150px;
    border-radius:50%;
    background-color:red;
    position:fixed;
    z-index:1000;
    top: -75px;
    right: -75px;
    transition:1s ease-in-out;
}
.left-bottom-circle{
    width:150px;
    height:150px;
    border-radius:50%;
    background-color:red;
    position:fixed;
    z-index:2000;
    bottom:-75px;
    left: -75px;
    transition:1s ease-in-out;
}
.right-bottom-circle{
    width:150px;
    height:150px;
    border-radius:50%;
    background-color:red;
    position:fixed;
    z-index:2000;
    bottom:-75px;
    right: -75px;
    transition:1s ease-in-out;
}

.left-top-circle:hover{
    transform:translatex(300px)translatey(300px)scale(3,1)rotate(25deg);
    opacity:0;
}
.left-top-circle:hover{
    transform:translatex(300px)translatey(300px)scale(3,1)rotate(25deg);
    opacity:0;
}
menu{
    margin:0 0 0 70px;
}
.footer-text{
    width:100%;
    background-color:rgba(255,255,255,0.7);
    z-index:1000;
    position:fixed;
    left:0px;
    bottom:0px;
    margin:0; 
    
    
    
    
}
.footer-text p{
    text-align:center;
    
}
.information{
    /* margin-left:80px; */
}
