@font-face {
    font-family:"bonita";
    src: url(/Users/kojihayashida1/Desktop/Vs_code_School/project1_shool_html&css/font/bonita.ttf);
    
}
@font-face {

font-family:"zahra";
    src: url(/Users/kojihayashida1/Desktop/Vs_code_School/project1_shool_html&css/font/zahra.ttf);
}
@font-face {
    font-family: "quicksand-light";
    src: url(/Users/kojihayashida1/Desktop/Vs_code_School/project1_shool_html&css/font/quicksand-light.ttf);
}
@font-face {
    font-family: "modern";
    src: url(/Users/kojihayashida1/Desktop/Vs_code_School/project1_shool_html&css/font/modern.ttf);
}
@font-face {
    font-family: "Decorative";
    src: url(/Users/kojihayashida1/Desktop/Vs_code_School/project1_shool_html&css/font/Decorative.ttf);
}
h1,h3,h4,h5,h6,p{
    text-align:center;
}


html{
    min-width: 725px;
}

    body{
        margin:0;
    }

.menu{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0px;
    left: 0;
    color: white;
    width: 100%;
    height: 107px;
    font-family: "quicksand-light";
    font-size: 24px;
    z-index: 999;
    background-color: rgba(199, 28, 28,0.6);
}
.menu img{
    width: 12%;
    position: fixed;
    top: -33px;
    left: 78px;
    
    
}
    

.menu div{
    margin: 40px 31px;
    max-width: 100%;
    height: auto;
}



.top{
    color:white;
    font-family:"bonita";
    font-size: 0px;
    margin:0;
    position:relative;
    
}
.top p{
    width: 20px;
    position: absolute;
    top: 400px;
    left: 151px;
    font-size: 200px;
    letter-spacing: 14px;
}
.top img{
    width: 100%;
    max-width: 100%;
    max-height: 1200px;
    }
.beautiful{
    text-align:center;
    position:absolute;
    top:190px;
    left: 814px;

        
}
.ready{
    text-align:center;
    position:absolute;
    top:190px;
    left: 230px;

        
}

a{
    text-decoration:none;
    color: rgb(255, 255, 255);
}

a:hover{
    color:rgb(99, 180, 235);
    transition: all 0.1s;
    
  }



.director-picture{
    transform: rotate(-15deg);
    z-index: 60;
    height: 273px;
    margin-top: 54px;
}
.director-introduce img{
    height: 300px;
    width: 240px;
    margin-left: 17px;
    box-shadow: 4px 4px 7px 0px #ae8987;
}
.director-text{
    margin-top: 75px;
    z-index: 69;
}
.director-text h3{
    font-family: "modern";
    font-size: 60px;
    margin: 0;

}
.director-text h5{
margin: 0;
}



.director-introduce{
    display: flex;
    justify-content: center;
    width: 85%;
    height: 400px;
    margin: 75px auto;
    box-shadow: 10px 12px 26px 8px #ae8987;
    min-width: 700px;
}
.director-introduce p{
    width: 500px;
    height: auto;
    text-align:center;
    font-family: "quicksand-light";
    word-spacing: 2px;
    font-size: 17px;
    font-weight: 600;
    
    
}

.introducing-teacheres h3{
    font-family: "modern";
    font-size: 81px;
    margin: 79px 0 25px;
    word-spacing: -11px;
}

.other-teacher{
    width: 85%;
    height:auto;
    margin:0 auto;
    padding: 40px;
    box-shadow: 10px 12px 26px 8px #ae8987;
    min-width: 600px;
    
}
.other-teacher p{
    font-family: "quicksand-light";
    word-spacing: 2px;
    font-size: 17px;
    font-weight: 600;
}

.other-teacher h5{
    font-size:40px;
}
.one-group,.two-group,.three-group,.four-group{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
    grid-template-rows:1fr;
}
.guest-teachers{
    width: 88%;
    margin: 0px auto 67px;
    padding: 29px 20px 29px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: 10px 12px 26px 8px #ae8987;
    min-width: 600px;
    
}

.guest-teachers p{
    text-align:left;
    font-style: italic;
    padding-left: 110px;
}
.one{
    border-right:2px solid #ffffff; 
    padding-right:7px;
    height: 90px;
    
}
.two{
    border-right:2px solid #ffffff; 
    height: 90px;

}
.three{
    padding-top:20px;
    

}
.three p {
    padding-right: 61px;
}



#bottom{
    width:auto;
    height:150px;
    margin:0;
   
    
    }

    .staff1 img,.staff2 img,.staff3 img,.staff4 img,.staff5 img,.staff6 img,.staff7 img{
        width: 170px;
        height: 170px;
        margin: 20px;
        box-shadow: 4px 4px 7px 0px black;
        border-radius: 50%;

    }
    .staff1,.staff2,.staff3,.staff4,.staff5,.staff6,.staff7,.staff8{
        display:flex;
        justify-content:center;
    
    }
   .guest-teachers p{
       font-size:20px;
       font-family: "Decorative";
   }
   .heading-guest-teachers h3{
       
       width:1000px;
       text-align:center;
   }
   .staff-sentence{
       margin:20px;
   }
   .staff-sentence1 h5,.staff-sentence2 h5,.staff-sentence3 h5,.staff-sentence4 h5,.staff-sentence5 h5,.staff-sentence6 h5,.staff-sentence7 h5{
       font-size:25px;
       text-align:left;
       margin-bottom:0;
       

   }
   .staff-sentence1,.staff-sentence2,.staff-sentence3,.staff-sentence4,.staff-sentence5,.staff-sentence6,.staff-sentence7{
    margin: 22px 0;
    

}
 .staff-sentence2 h5,.staff-sentence4 h5,.staff-sentence6 h5{
       text-align:right;
   }
   .footer{
    position:relative;
    height: 300px;
        
    

}
.footer img{
    width:100%;
    max-width: 100%;
    max-height: 300px;
    
}

#footer-text{
    position:absolute;
    top:30%;
    left:20%;
    color:white;
    max-width:900px;
    width:100%;
    height:100px;
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    grid-template-rows:1fr 1fr 1fr;
    justify-content:center;
    font-family: "quicksand-light";
    word-spacing: 2px;
    font-size: 17px;
    font-weight: 600;
    
}
#footer-text p{
    color:white;
    margin: 11px 10px;

}
.logo {
    margin-left: 212px;
    
}
.logo img{
    width:40px;
    height:40px;
   
}
 