@font-face {
    font-family:"bonita";
    src: url(/Users/kojihayashida1/Desktop/Vs_code_School/project1_shool_html&css/font/bonita.ttf);
    
}
@font-face {

font-family:"zahra";
    src: url(/Users/kojihayashida1/Desktop/Vs_code_School/project1_shool_html&css/font/zahra.ttf);
}

body{
    margin:0;
}
img{
    width:1440px;
    height:1440px;
    
}

.menu{
    position:fixed;
    display:flex;
    justify-content:flex-end;
    top:40px;
    left:0;
    color:white;
    width:100%;
    height: 70px;
    font-family:"bonita";
    font-size: 55px;
    /* background-color: rgba(83, 87, 230, 0.43); */
    
    
}
.menu img{
    width:150px;
    height:150px;
    position:fixed; 
    top:0;
    left:100px;
    background-size:cover;
    
}
.menu div{
    transition: all 0.7s;
    margin: 13px 50px;
    border-radius: 50%;

}
.menu div:hover{
background-color:rgb(160, 31, 31);
}
.top{
    color:white;
    font-family:"zahra";
    font-size: 50px;
    /* background-color: rgba(83, 87, 230, 0.43); */

}
.beautiful{
    text-align:center;
    position:absolute;
    top:190px;
    left: 814px;

        
}
.ready{
    text-align:center;
    position:absolute;
    top:190px;
    left: 230px;

        
}
.picture{
    border:2px solid blue;
}

.director-introduce{
    border:2px solid blue;

}

.other-teacer{
    border:2px solid blue;

}
.guest-teachers{
    border:2px solid blue;
}
.bottom{
    border:2px solid blue;

}
